* {
    margin: 0;
}

body {
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 35px 25px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-left: 35px;
    font-weight: normal;
    font-size: 35px;
    padding-top: 5px;
}

header {
    background-color: rgba(90, 63, 29, 0.537);
    padding: 15px;
    display: flex;
    align-items: center;
}

main > div {
    width: 335px;
    height: 335px;
    flex: 1 1 auto;
}

main img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

main a {
    color: rgba(137, 67, 23, 0.637);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

h2 {
    font-weight: normal;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(177, 144, 122);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #645353a4;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
